.check-button {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 21px;
  top: 14px;
  border: none;
  border-radius: 30px;
}

.check-button_visible {
  visibility: visible;
}