.profile-input__label {
  margin: 0 auto;
  /* padding: 16px 0; */

  max-width: 410px;
  height: 48px;

  box-sizing: border-box;
  border-bottom: solid 1px var(--icons-substrate);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
}

.profile-input__label:last-of-type {
  border-bottom: none;
}

.profile-input__field {
  height: 100%;
  width: 80%;

  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;

  box-sizing: border-box;
  text-align: end;
  line-height: 13px;
}

.profile-input__field:focus {
  outline: none;
}

.profile-input__field:focus-visible {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray; 
   border-right: 1px solid gray;

}

@media screen and (max-wifth: 767px) {
  .profile-input__label {
    max-width: 260px;
  }
}