.movies-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  gap: 43px 30px;
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .movies-card-list {
    grid-template-columns: repeat(auto-fit, 339px);
	gap: 47px 30px;
  }
}

@media screen and (max-width: 767px) {
	.movies-card-list {
	  grid-template-columns: repeat(auto-fit, 300px);
	  gap: 39px;
	}
  }