.movies__search-form {
  margin-left: var(--laptop-horizontal-indents);
  margin-right: var(--laptop-horizontal-indents);
  padding-top: var(--laptop-vertical-indents-forms);
  padding-bottom: var(--laptop-vertical-indents-forms);
  border-bottom: 1px solid var(--borders_3);
}

.movies__content {
  padding-top: 80px;
  padding-left: var(--laptop-horizontal-indents);
  padding-right: var(--laptop-horizontal-indents);
  box-sizing: border-box;
  min-height: 56vh;
}

.movies__btn {
  padding-top: 50px;
  padding-bottom: 80px;

  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .movies__search-form {
    margin-left: var(--tablet-horizontal-indents);
    margin-right: var(--tablet-horizontal-indents);
  }

  .movies__content {
    padding-left: var(--tablet-horizontal-indents);
    padding-right: var(--tablet-horizontal-indents);
    min-height: 60vh;
  }
}
