.movies__search-form {
  margin: 0 var(--laptop-horizontal-indents);
  padding-top: var(--laptop-vertical-indents-forms);
  padding-bottom: var(--laptop-vertical-indents-forms);
  border-bottom: 1px solid var(--borders_3);
}

.movies__content {
  padding: 80px var(--laptop-horizontal-indents) 0;
  min-height: 39vh;
}

.movies__btn {
	display: flex;
	justify-content: center;
	padding-top: 78px;
	padding-bottom: 80px;
}