.list-item {
  box-sizing: border-box;
  border-bottom: 1px solid var(--icons-substrate);
}

.list-item__link {
  height: 100%;
  width: 100%;
  color: var(--main-text);
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.5s linear ;
}

.list-item__link:hover {
  box-shadow: 0px 3px 14px rgb(0 0 0 / 8%);
}

.list-item__title {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.list-item__icon {
  width: 29px;
  height: 60px;
  background: center center no-repeat
    url("../../images/about-me__link-arrow.svg");
}

@media screen and (max-width: 767px) {
  .list-item__title {
    font-size: 18px;
    line-height: 28px;
  }
}
