.list-item {
}

.list-item__link {
  color: var(--main-text);
  text-decoration: none;
}

.list-item__title {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.list-item__icon {
  background: center center no-repeat
    url("../../images/about-me__link-arrow.svg");
}
