.page-not-found {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--main-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-not-found__container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.page-not-found__title {
  font-size: 140px;
  font-weight: 400;
  line-height: 169px;
}

.page-not-found__caption {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
}

.page-not-found__btn {
  margin-bottom: 60px;
  background: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

@media screen and (max-width: 1023px) {
  .page-not-found__container {
    padding-top: 222px;
  }
  .page-not-found__btn {
    margin-bottom: 222px;
  }
}
