.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}
.popup_is-opened {
  visibility: visible;
  opacity: 1;
}
.popup__container {
  background-color: white;
  color: black;
  border-radius: 10px;
  box-sizing: border-box;
  position: absolute;
  padding: 60px 30px 30px;
}

/* .popup__icon {
  width: 60px;
  height: 60px;
  background: center center no-repeat url("");
} */

.popup__text {
    color: var(--main-text);
    font-size: 14px;
    line-height: 20px;
}

.popup__close {
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  background: center center no-repeat url("../../images/close-btn.svg");
  background-color: rgba(0, 0, 0, 0);
  border: none;
  opacity: 1;
  transition: opacity 1s linear;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.8;
}
