.auth__title {
  margin: 40px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
}

.auth__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.auth__btn {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  color: var(--contrast-text);
  background: var(--contrast-elements);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.auth__caption {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
}

.auth__text {
  margin-top: 16px;
  display: inline-block;
  color: var(--lightened-text);
}
.auth__link {
  margin-left: 6px;
}
