.tumbler {
  padding-left: 30px;
  padding-right: 30px;

  height: 72px;
  display: flex;
  box-sizing: border-box;
  border-left: 1px solid var(--borders_2);
  align-items: center;
}

.tumbler__container {
  height: 14px;
  width: 34px;

  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  background: var(--light-strip);
  align-items: center;
  border-radius: 20px;
}

.tumbler__container_active {
  justify-content: flex-end;
  background: var(--tumbler-background);
}

.tumbler__switch {
  width: 10px;
  height: 10px;

  border-radius: 50%;
  background: var(--main-background);
}

.tumbler__title {
  margin-left: 14px;

  justify-self: flex-end;
  font-size: 13px;
  line-height: 18px;
}

@media screen and (max-width: 767px) {
  .tumbler {
    border-left: none;
  }
}
