.about-project__texts {
  padding-top: var(--inner-vertical-indents);
  padding-bottom: var(--laptop-vertical-indents-base);
  display: flex;
}

.about-project__title {
  font-size: 20px;
  line-height: 24px;
}

@media screen and (max-width: 1023px) {
  .about-project__texts {
    padding-bottom: var(--tablet-vertical-indents-base);
  }
}

@media screen and (max-width: 767px) {
  .about-project__texts {
    flex-direction: column;
    row-gap: 56px;
  }
}
