.form_type_profile {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__container_type_profile {
  display: flex;
  flex-direction: column;
}

.form__btn_type_profile {
  margin-top: 16px;
  font-size: 13px;
  line-height: 16px;
}

.form__btn_type_profile:disabled {
  cursor: default;
}

.form__btn_type_edit-profile {
  font-weight: 400;
}

.form__btn_type_sign-out {
  font-weight: 500;
  color: var(--catchy-element);
}

@media screen and (max-width: 767px) {
  .form_type_profile {
    width: 100%;
  }

  .form__container_type_profile {
    max-width: 100%;
    max-height: cals(100vh-74px);
  }

  .form__btn_type_profile {
    font-size: 12px;
    line-height: 15px;
  }
}

.form__label_type_profile {
  margin: 0 auto;
  /* padding: 16px 0; */

  max-width: 410px;
  height: 48px;

  box-sizing: border-box;
  border-bottom: solid 1px var(--icons-substrate);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
}

.form__label_type_profile:last-of-type {
  border-bottom: none;
}

.form__input_type_profile {
  height: 100%;
  width: 80%;

  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;

  box-sizing: border-box;
  text-align: end;
  line-height: 13px;
}

.form__input_type_profile:focus {
  outline: none;
}

.form__input_type_profile:focus-visible {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
}

@media screen and (max-wifth: 767px) {
  .form__label_type_profile {
    max-width: 260px;
  }
}
