.profile-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-form__container {
  display: flex;
  flex-direction: column;
}
.profile-form__btn {
  margin-top: 16px;
  font-size: 13px;
  line-height: 16px;
}

.profile-form__btn:disabled {
  cursor: default;
}

.profile-form__btn_type_edit {
  font-weight: 400;
}
.profile-form__btn_type_sign-out {
  font-weight: 500;
  color: var(--catchy-element);
}

@media screen and (max-width: 767px) {
  .profile-form {
    width: 100%;
  }
  .profile-form__container {
    max-width: 100%;
    max-height: cals(100vh-74px);
  }
}
