.account-link__item {
  grid-area: account;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.account__icon-substrate {
  margin-left: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  width: 30px;
  height: 30px;
  background: var(--account-icon-substrate);
}

.account__icon {
  height: 10.669027328491211px;
  width: 10.383013725280762px;
}
