.techs__title {
  padding-top: 90px;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
}

.techs__icons {
  padding-top: var(--laptop-vertical-indents-contrast);
  display: flex;
  justify-content: center;
}
