.photo__container {
  grid-area: photo;
  justify-self: flex-end;
  height: 327px;
  width: 270px;
}

.photo__item {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

@media screen and (max-width: 767px) {

  .photo__container {
    grid-area: photo;
    justify-self: center;
    height: 352px;
    width: 292px;
  }
  
}