body {
  margin: 0;
  padding: 0;
  color: var(--main-text);
  background: var(--main-background);
  font-family: var(--font-family);
}

.section {
	padding: var(--laptop-side-paddings);
}

.section__title {
  margin: 0;
  margin-block: 0;
  padding: 0 0 23px;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid var(--contrast-elements);
}

.section_type_promo {
	background: var(--promo-background);

}

.section_type_base {
  background: var(--main-background);
  padding-top: var(--base-section-padding-top);
}

.section_type_contrast {
  background: var(--contrast-background);
  padding-top: var(--contrast-section-padding-top);
}

:root {
  --main-text: #000000;
  --ligther-text: #A0A0A0;
  --button-text: #FFFFFF;

  --promo-background: #F3C1F8;
  --main-background: #FFFFFF;
  --contrast-background: #F5F5F5;

  --light-strip: #F2F2F2;
  --text-substrate: #E8E8E8;
  --contrast-elements: #000000;

  --font-family: 'Inter', sans-serif;

  --base-section-padding-top: 110px;
  --contrast-section-padding-top: 100px;
  --laptop-side-paddings: 0 70px;
}

