body {
  margin: 0;
  padding: 0;
  color: var(--main-text);
  background: var(--main-background);
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5 {
  margin-block: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-text);
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
}

input {
  border: none;
}
input:focus {
  outline: none;
}

.section {
  padding: 0 var(--laptop-horizontal-indents);
}

.section__title {
  padding: 0 0 23px;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  border-bottom: 1px solid var(--contrast-elements);
}

.section_type_promo {
  background: var(--promo-background);
}

.section_type_base {
  background: var(--main-background);
  padding-top: var(--laptop-vertical-indents-base);
  padding-bottom: var(--laptop-vertical-indents-base);
}

.section_type_contrast {
  background: var(--contrast-background);
  padding-top: var(--laptop-vertical-indents-contrast);
  padding-bottom: var(--laptop-vertical-indents-contrast);
}

.section_type_auth {
  margin: 0 auto;
  padding: var(--laptop-vertical-indents-forms) 0;
  width: 396px;
  height: calc(100vh - var(--laptop-vertical-indents-forms) * 2);
  display: grid;
  grid-template-rows: repeat(2, max-content) 1fr;
}

:root {
  --main-text: #000000;
  --lightened-text: #a0a0a0;
  --contrast-text: #ffffff;
  --catchy-element: #FF4062;

  --promo-background: #f3c1f8;
  --main-background: #ffffff;
  --contrast-background: #f5f5f5;

  --light-strip: #f2f2f2;
  --icons-substrate: #e8e8e8;
  --contrast-elements: #000000;

  --icons-substrate_2: #f9f9f9;
  --inputs-substrate: #fdfdfd;
  --tumbler-background: #2be080;
  --icons-substrate_3: #ff4062;
  --borders_2: #cbcbcb;
  --borders_3: #e8e8e8;

  --font-family: "Inter", sans-serif;

  --laptop-vertical-indents-base: 110px;
  --laptop-vertical-indents-contrast: 100px;
  --laptop-vertical-indents-forms: 70px;
  --laptop-vertical-indents-card-list: 80px;
  --laptop-horizontal-indents: 70px;
}
